.navbar-vertical .nav-link {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700; /* Asegúrate de usar el peso adecuado para el bold */
    color: #6c757d; /* Gris para no seleccionado */
    font-size: 0.8rem;
    text-align: left;
    transition: all 0.3s ease;
  }

.navbar-vertical {
    position: fixed;
    top: 50%;
    left: 0;
    height: 100vh;
    transform: translateY(-50%);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 1rem;
    z-index: 1000;
    background: linear-gradient(to right, black, transparent);
  }
  
  .navbar-vertical .nav-item {
    margin-bottom: 20px;
  }
  
  
  .navbar-vertical .nav-link:hover{
    color: #ffffff; /* Blanco para el seleccionado */
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 5px;
  }
  
  @media (max-width: 1080px) {
    .navbar-vertical {
      display: none; /* Oculta completamente la barra */
    }
  }